body {
  background-color: #003865;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
}

.app {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  h1 {
    color: white;
    text-align: center;
  }

}