$sam-color: rgb(100, 183, 49);
$clover-color: rgb(231, 40, 60);
$alex-color: rgb(255, 179, 43);

// Minus 30 on all channels
$dark-sam-color: rgb(70, 153, 19);
$dark-clover-color: rgb(201, 10, 30);
$dark-alex-color: rgb(225, 149, 13);

$headers-padding: 5px 15px;
$bodies-padding: 10px 15px;

.header {
    padding: $headers-padding;
}

.body {
    padding: $bodies-padding;
}