.tasks-list {

    .header {
        background-color: rgb(57, 96, 213);
        color: white;
    }

    .body {
        background-color: white;
    }

    .task {
        margin-bottom: 5px;
    }

    .placeholder {
        color: grey;
        text-align: center;
    }

}